parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false

    doctrine:
        objectManagerLoader: tests/object-manager.php

    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations

    ignoreErrors:
        # Struct constructor
        - '#Unsafe usage of new static#'
        # Typed Colletion Issue with Doctrine
        - '#Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable#'
