parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false

    doctrine:
        objectManagerLoader: tests/object-manager.php

    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations

    ignoreErrors:
        - '#apcu_#'
