{% extends "base.html.twig" %}

{% block search_bar %}{% endblock %}

{% block title %}Login - FriendsOfShopware Packages{% endblock %}

{% block body %}
    <section class="clean-block pb-5">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Company selection</h2>
                <p>Please select the company.</p>
            </div>
            <form method="post">
                <div class="mb-3">
                    <label for="membership">Company</label>
                    <select name="membership" id="membership" class="form-control">
                        {% for membership in memberships %}
                            {% if membership.canAccessShop() %}
                                <option value="{{ membership.id }}">{{ membership.company.name }}</option>
                            {% else %}
                                <option value="{{ membership.id }}" disabled="disabled">{{ membership.company.name }} (no rights)</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Select company</button>
            </form>
        </div>
    </section>
{% endblock %}
