{% extends "base.html.twig" %}

{% block search_bar %}{% endblock %}

{% block title %}Login - FriendsOfShopware Packages{% endblock %}

{% block body %}
    <section class="clean-block pb-5">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Shop selection</h2>
                <p>Please select the shop.</p>
            </div>
            <form method="post">
                <div class="mb-3">
                    <label for="shop">Shop</label>
                    <select name="shop" id="shop" class="form-control">
                        {% for shop in shops %}
                            <option value="{{ shop.domain }}">{{ shop.domain }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Select shop</button>
            </form>
        </div>
    </section>
{% endblock %}
