h1 {
  border-bottom: 1px solid rgb(24, 158, 255);
  margin: -5px 0 15px;
  padding: 0 0 15px;
}

.search-wrapper {
  background: rgb(24, 158, 255);
  padding: 20px;

  .helpText {
    margin-top: 5px;
    color: #fff;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #6c757d;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
