:root {
    --fos-p: #164be5;
    --fos-background: #171717;
}

.btn-primary {
    background-color: var(--fos-p);
    border-color: var(--fos-p);
}

.alert-info {
    background-color: var(--fos-p);
    border-color: var(--fos-p);
    color: #fff;
}

.alert-danger {
    background-color: #d32f2f;
    border-color: #d32f2f;
    color: #fff;
}

h1 {
  border-bottom: 1px solid var(--fos-p);
  margin: -5px 0 15px;
  padding: 0 0 15px;
}

h2.card-title {
    font-size: 1.25rem;
}

.text-info {
    color: var(--fos-p) !important;
}

.search-wrapper {
  background: var(--fos-p);
  padding: 20px;

  .helpText {
    margin-top: 5px;
    color: #fff;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #6c757d;
}

.search-page {
    .list-group-item {
        cursor: pointer;
        background: var(--fos-p);
        border-bottom-color: #171717;

        &.active {
            background-color: #0e35a7 !important;
            border-color: #0e35a7 !important;
        }
        .badge.bg-secondary {
            background-color: #0d0d0d !important;
        }
    }
}

.clean-block {
    .block-heading {
        margin-bottom: 40px;
        text-align: center;
        padding-top: 50px;
        p,.content {
            text-align: center;
            max-width: 420px;
            margin: auto;
            opacity: .8;
        }
    }

    form {
        border-top: 2px solid var(--fos-p);
        background-color: var(--fos-background);
        max-width: 500px;
        margin: auto;
        padding: 40px;
        box-shadow: 0 2px 10px rgba(0,0,0,.075);
    }
}

a {
    text-decoration: none;
    color: #4977fd;
}

code {
    color: #e2378c;
}

.navbar {
    background-color: #0d0d0d !important;
    .navbar-nav .nav-link, .navbar-brand {
        color: hsla(0,0%,100%,.7);
        &:hover, &:focus {
            color: #fff;
        }
    }
}
body {
    background: #0d0d0d;
    color: #fff;
}

p {
    color: #fff;
}

.form-control, .form-control:focus, .form-control[readonly] {
    background-color: #0d0d0d;
    color: #FFFFFF;
    &::placeholder {
        color: #FFFFFF;
    }
}

#composerCmd {
    background-color: #171717;
    border-color: #171717;
}

.card {
    background: #171717;
    .card-header {
        background: rgba(0, 0, 0, 0.23);
    }
}

.modal-content {
    background-color: var(--fos-background);
}
