{% extends "base.html.twig" %}


{% block body %}
    <div class="container">
        <h1>Getting Started</h1>

        <p>
            Login with your Shopware credentials and select your domain.
            Follow the wizard and add the new composer repository to your <strong>composer.json</strong>
            <br>
            <strong>No credentials will be saved. From your login data a Shopware-API token will be created, which is used for fruther authentication with the Shopware-API.</strong>
        </p>

        <h2>FAQ</h2>

        <h4>A package is missing?</h4>
        <p>
            <a href="/login">Login to your packages account</a> using your Shopware account. After that the plugin index will be regenerated. This includes new updates, since the last login.
        <br>
        A regeneration of the index, is also triggered by a <code>composer update</code> on the command line.
        </p>

        <h4>Where can I find the source code? Can I host this repository myself?</h4>
        <p>
            You can find the source code at <a href="https://github.com/FriendsOfShopware/packages/" rel="noopener noreferrer">Github</a> with a brief setup guide for selfhosting.
        </p>

        <h4>Something is not working as expected!</h4>
        <p>
            Please send me an Tweet <a href="https://twitter.com/@Shyim97" rel="noopener noreferrer">@Shyim97</a>. This project is based on API routes of the Shopware store API, which change from time to time.
        </p>
    </div>
{% endblock %}
