{% extends "base.html.twig" %}


{% block body %}
    <div class="container mt-3">
        <div class="alert alert-info">Shopware started to migrate the Shopware ID into own user accounts. The api uses as fallback the active company in the account. To avoid issues when you switch the active company, please replace the old token with a new one.</div>

        <h1>Getting Started</h1>

        <h3>Requirements</h3>
        <p>Shopware 5 Composer Project or Shopware 6. Guide to switch <a href="https://developers.shopware.com/blog/2018/07/25/an-easy-example-how-to-switch-from-classic-installation-to-composer-installation/" rel="noopener nofollow">Shopware 5 from classic installation to composer</a></p>

        <h3>Steps</h3>

        <ol>
            <li>Login with your Shopware Account credentials</li>
            <li>Copy repository configuration and adjust your repository in your project <code>composer.json</code></li>
            <li>Replace all plugin files with composer require</li>
        </ol>
    </div>
    <div class="bg-light">
        <div class="container p-3">
            <h2>FAQ</h2>

            <div class="card mb-3">
                <div class="card-header">
                    Will my credentials be saved?
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Your shopwareId, password and choosen domain will be encrypted and served as token back to you. This token is important to authenticate you further on Shopware services.
                        On each request the token will be decrypted on server side to get the credentials.<br>
                        <strong>This token is only saved client-side!</strong><br>
                        <a href="https://github.com/FriendsOfShopware/packages/blob/master/src/Components/Api/AccessToken.php#L46-L55" target="_blank" rel="noopener nofollow">Feel free to look into code if you are interested into</a>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    Where can I find the source code? Can I host this repository myself?
                </div>
                <div class="card-body">
                    <p class="card-text">
                        You can find the source code at <a href="https://github.com/FriendsOfShopware/packages/" rel="noopener noreferrer">Github</a> with a brief setup guide for selfhosting.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Something is not working as expected!
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Please send me an Tweet <a href="https://twitter.com/@Shyim97" rel="noopener noreferrer" target="_blank">@Shyim97</a> or Join the <a rel="noopener noreferrer" target="_blank" href="https://slack.shopware.com">Shopware Community Slack</a>. This project is based on API routes of the Shopware store API, which change from time to time.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
